<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<hr>
<footer id="footer" class="bg-dark py-4 mt-auto">
	<div class="container px-5">
		<div class="row align-items-center justify-content-between flex-column flex-sm-row">
			<div class="col-auto">
                <a class="link-light small" href="https://www.instagram.com/studiotomboy/">INSTAGRAM</a>
                <span class="text-white mx-1">·</span>
                <a class="link-light small" href="https://www.facebook.com/studiotomboy">FACEBOOK</a>
                <span class="text-white mx-1">·</span>
                <a class="link-light small" href="https://www.youtube.com/channel/UCtTiFsL9uxWCWS9FGTb84mA/featured">YOUTUBE</a>
            </div>
            <div class="col-auto"><div class="small m-0 text-white">COPYRIGHT © STUDIO TOMBOY. All RIGHTS RESERVED.</div></div>
        </div>
    </div>
</footer>